# This file is to show possible values for the .env file
DEFAULT_TESTNET=alfajores
# Generated using org.celo.mobile.alfajores.dev and the debug keystore
# This means Android auto-read feature will only work from debug builds
SMS_RETRIEVER_APP_SIGNATURE=5yaJvJcZt2P
FIREBASE_ENABLED=true
SHOW_TESTNET_BANNER=true
DEV_SETTINGS_ACTIVE_INITIALLY=true
# Enable for true hot reloading while dev-ing UI
DEV_RESTORE_NAV_STATE_ON_RELOAD=false
APP_BUNDLE_ID=org.celo.mobile.alfajores.dev
APP_STORE_ID=1482389446
APP_DISPLAY_NAME=Alfajores (dev)
IOS_GOOGLE_SERVICE_PLIST=GoogleService-Info.alfajoresdev.plist
SENTRY_ENABLED=false
AUTH0_DOMAIN=auth.alfajores.valora.xyz
# See all possible values in HomeActionName
# Use empty string to disable them all
ENABLED_QUICK_ACTIONS=Send,Receive,Add,Swap,Withdraw
# Toggles for onboarding features
# If this variable isn't defined, all onboarding features will be enabled.
# If defined but empty, all are disabled.
# Otherwise, a comma separated list of features to enable; those missing are disabled.
# See all possible feature values in ToggleableOnboardingFeatures.
# This example enabled all features except PhoneVerification
ONBOARDING_FEATURES_ENABLED=CloudBackupSetup,CloudBackupRestore,CloudBackupInOnboarding,EnableBiometry,ProtectWallet
DEEP_LINK_URL_SCHEME=celo
USER_AGENT_APP_NAME=Valora
