<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <application android:usesCleartextTraffic="true" tools:ignore="GoogleAppIndexingWarning" android:networkSecurityConfig="@xml/network_security_config" tools:ignore="GoogleAppIndexingWarning">
      <intent-filter android:autoVerify="true">
        <data android:scheme="https" android:host="valoraapp.com" />
        <data android:scheme="https" android:host="vlra.app" />
      </intent-filter>
    </activity>
  </application>
</manifest>