<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>$(APP_DISPLAY_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string/>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kolektivo</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>BundleID</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CleverTapAccountID</key>
	<string>$(CLEVERTAP_ACCOUNT_ID)</string>
	<key>CleverTapToken</key>
	<string>$(CLEVERTAP_TOKEN)</string>
	<key>CodePushDeploymentKey</key>
	<string>Ijkke5lN0tH1Cb1fxWoUeDmtf8tp5CzAics2F</string>
	<key>FirebaseDynamicLinksCustomDomains</key>
	<array>
		<string>https://kolektivo.app</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>message</string>
		<string>readdle-spark</string>
		<string>airmail</string>
		<string>ms-outlook</string>
		<string>googlegmail</string>
		<string>inbox-gmail</string>
		<string>ymail</string>
		<string>superhuman</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
      <key>amazonaws.com</key>
      <dict>
        <!--Include to allow subdomains-->
        <key>NSIncludesSubdomains</key>
        <true/>
        <!--Include to allow HTTP requests-->
        <key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
        <true/>
      </dict>
    </dict>
	</dict>
  <key>NSLocationWhenInUseUsageDescription</key>
  <string>We use your location so that you can find Vendors near you.</string>
  <key>NSLocationAlwaysUsageDescription</key>
  <string>We use your location so that you can find Vendors near you.</string>
  <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
  <string>We use your location so that you can find Vendors near you.</string>
	<key>NSCameraUsageDescription</key>
	<string>Connecting your camera allows you to scan codes for payments.</string>
	<key>NSContactsUsageDescription</key>
	<string>Adding your contacts makes it easy to send and request payments with your friends.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>This is required for you to use Face ID to secure your account.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Connecting your photo library allows you to save your code to your photos.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This is required for you to choose a profile picture.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>We use the advertising identifier to accurately attribute app installs from ad campaigns.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Lato-Bold.ttf</string>
		<string>Lato-Regular.ttf</string>
		<string>Kaleko105Bold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
