E2E_TEST_FAUCET_SECRET=""
E2E_WALLET_CONNECT_PROJECT_ID=""
E2E_DEFAULT_RECIPIENT_MNEMONIC=""
E2E_DEFAULT_RECIPIENT_PRIVATE_KEY=""
E2E_WALLET_MNEMONIC=""
E2E_WALLET_PRIVATE_KEY=""
E2E_WALLET_SINGLE_VERIFIED_MNEMONIC=""
E2E_WALLET_MULTIPLE_VERIFIED_MNEMONIC=""
E2E_WALLET_12_WORDS_MNEMONIC=""
