name: Bump App Version

on:
  workflow_dispatch:
  push:
    # trigger on new minor release tags only
    tags:
      - valora-v[0-9]+.[0-9]+.0

jobs:
  bump-app-version:
    # this job uses the pre-deploy script and agvtool which is only available on macos
    runs-on: macos-15
    permissions:
      pull-requests: write
    env:
      BRANCH_NAME: valora-bot/bump-app-version
    steps:
      - uses: google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093 # v3.0.0
        with:
          project_id: celo-mobile-mainnet
          credentials_json: ${{ secrets.MAINNET_SERVICE_ACCOUNT_KEY }}
      - name: Google Secrets
        id: google-secrets
        uses: google-github-actions/get-secretmanager-secrets@bc9c54b29fdffb8a47776820a7d26e77b379d262 # v3.0.0
        with:
          secrets: |-
            BOT_SSH_KEY:projects/1027349420744/secrets/BOT_SSH_PRIVATE_KEY
            VALORA_BOT_TOKEN:projects/1027349420744/secrets/VALORA_BOT_TOKEN
      - uses: webfactory/ssh-agent@a6f90b1f127823b31d4d4a8d96047790581349bd # v0.9.1
        with:
          ssh-private-key: ${{ steps.google-secrets.outputs.BOT_SSH_KEY }}
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          ref: main
      - uses: ./.github/actions/yarn-install
      - run: yarn ts-node .github/scripts/createAppVersionPr.ts
        env:
          VALORA_BOT_TOKEN: ${{ steps.google-secrets.outputs.VALORA_BOT_TOKEN }}
      - uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            const allowedUpdatedFiles = [
              'package.json'
            ]
            const script = require('.github/scripts/autoApprovePr.js')
            await script({github, context, core, allowedUpdatedFiles})
      - uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          github-token: ${{ steps.google-secrets.outputs.VALORA_BOT_TOKEN }}
          script: |
            const script = require('.github/scripts/enableAutomergeOnPr.js')
            await script({github, context, core})
