name: Bump App Version

on:
  workflow_dispatch:
  push:
    # trigger on new minor release tags only
    tags:
      - valora-v1.[0-9]+.0
    branches:
      - kathy/auto-bump-app-version

jobs:
  bump-app-version:
    # this job uses the pre-deploy script and agvtool which is only available on macos
    runs-on: macos-11
    permissions:
      pull-requests: write
    env:
      VALORA_BOT_PAT: ${{ secrets.VALORA_BOT_PAT }}
      BRANCH_NAME: valora-bot/bump-app-version
    steps:
      - name: Google Secrets
        id: google-secrets
        uses: google-github-actions/get-secretmanager-secrets@v0.2.2
        with:
          secrets: |-
            BOT_SSH_KEY:projects/1027349420744/secrets/BOT_SSH_PRIVATE_KEY
          credentials: ${{ secrets.MAINNET_SERVICE_ACCOUNT_KEY }}
      - uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ steps.google-secrets.outputs.BOT_SSH_KEY }}
      - uses: actions/checkout@v2
      # - run: yarn
      - run: .github/scripts/create_app_version_pr.sh
      - uses: actions/github-script@v5
        with:
          script: |
            const script = require('.github/scripts/automergeVersionBump.js')
            await script({github, context, core})
