name: Check

on:
  # Run on pushes to main..
  push:
    branches:
      - main
  # ..and any pull request.
  pull_request:
  workflow_dispatch:
    inputs:
      ref:
        description: 'The branch, tag or SHA to checkout (uses the default branch if empty)'
  # Cron job to run checks @ 8:30 pm daily on the latest commit on the default branch - main
  schedule:
    - cron: '30 20 * * *'

# Cancel any in progress run of the workflow for a given PR
# This avoids building outdated code
concurrency:
  # Fallback used github.head_ref as it only defined on pull_request
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  vulnerability:
    name: Vulnerabilities
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ inputs.ref }}
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
          check-latest: true
          ref: ${{ inputs.ref }}
      - uses: actions/cache@v2
        with:
          path: |
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}
          ref: ${{ inputs.ref }}
      - run: yarn || yarn
      - run: ./scripts/ci_check_vulnerabilities.sh

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ inputs.ref }}
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
          check-latest: true
          ref: ${{ inputs.ref }}
      # https://github.com/actions/cache/blob/main/examples.md#node---lerna
      - uses: actions/cache@v2
        with:
          path: |
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}
          ref: ${{ inputs.ref }}
      - run: yarn || yarn
      - run: yarn run prettify:diff
      - run: yarn run lint
      - run: yarn tsc -p .github/scripts
  yarn-lock:
    name: 'yarn.lock Up-to-date'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ inputs.ref }}
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
          check-latest: true
          ref: ${{ inputs.ref }}
      # https://github.com/actions/cache/blob/main/examples.md#node---lerna
      - uses: actions/cache@v2
        with:
          path: |
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}
          ref: ${{ inputs.ref }}
      - run: yarn || yarn
      - run: git diff --exit-code
  licenses:
    name: Licenses
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ inputs.ref }}
      - uses: actions/setup-node@v2
        with:
          node-version: '12'
          check-latest: true
          ref: ${{ inputs.ref }}
      # https://github.com/actions/cache/blob/main/examples.md#node---lerna
      - uses: actions/cache@v2
        with:
          path: |
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}
          ref: ${{ inputs.ref }}
      - run: yarn || yarn
      - run: yarn check-licenses
