name: Android E2E
on:
  pull_request:
    branches:
      - main

jobs:
  android:
    name: Android
    runs-on: ubuntu-latest
    env:
      ANDROID_NDK_LATEST_HOME: /Users/runner/Library/Android/sdk/ndk/23.1.7779620
      ANDROID_NDK_HOME: /Users/runner/Library/Android/sdk/ndk/23.1.7779620
      ANDROID_NDK_ROOT: /Users/runner/Library/Android/sdk/ndk/23.1.7779620
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '12'
          check-latest: true
      - uses: actions/setup-java@v2
        with:
          distribution: 'adopt-openj9'
          java-version: '8'
      - name: setup-android-tools
        uses: maxim-lobanov/setup-android-tools@v1
        with:
          packages: system-images;android-29;default;x86_64
      - run: |
         cp -R /Users/runner/Library/Android/sdk/ndk/21.4.7075529/toolchains/arm-linux-androideabi-4.9 $ANDROID_NDK_HOME/toolchains
         cp -R /Users/runner/Library/Android/sdk/ndk/21.4.7075529/toolchains/aarch64-linux-android-4.9 $ANDROID_NDK_HOME/toolchains
         cp -R /Users/runner/Library/Android/sdk/ndk/21.4.7075529/toolchains/x86-4.9 $ANDROID_NDK_HOME/toolchains
         cp -R /Users/runner/Library/Android/sdk/ndk/21.4.7075529/toolchains/x86_64-4.9 $ANDROID_NDK_HOME/toolchains
      - run: brew install tree coreutils
      - run: $ANDROID_HOME/tools/bin/avdmanager create avd --force --name Pixel_API_29_AOSP_x86_64 --package "system-images;android-29;default;x86_64" --device pixel
      - run: yarn
      - run: yarn build --scope @celo/mobile --include-filtered-dependencies
      - run: |
         cd packages/mobile/
         yarn run test:e2e:android
