name: E2E - iOS
on:
  workflow_call:
    inputs:
      ios-version:
        required: true
        type: string

jobs:
  ios:
    name: iOS (${{ inputs.ios-version  }})
    # We use custom runners to speed up the build
    # Replace this with `macos-14` to run on standard GitHub Actions runners
    # runs-on: macos-14
    runs-on: ios-e2e-group
    timeout-minutes: 45
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - run: brew install fastlane cocoapods
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        id: setup-node
        with:
          node-version-file: 'package.json'
          check-latest: true
      - uses: expo/expo-github-action@c7b66a9c327a43a8fa7c0158e7f30d6040d2481e # 8.2.1
        with:
          eas-version: latest
          token: ${{ secrets.EXPO_TOKEN }}
      - run: yarn install
      - run: eas build --platform ios --profile e2e --local
