name: iOS E2E
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'     
        required: true
        default: 'warning'
      tags:
        description: 'End-to-end Tests'
  # Cron job to run e2e tests @ 8:30 pm daily on the latest commit on the default branch - main
  schedule:
    - cron: "30 20 * * *"

jobs:
  ios:
    name: iOS
    runs-on: ios-e2e-group-isolation
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '12'
          check-latest: true
      - name: Install package dependencies
        run: yarn
      - name: Build mobile dependencies
        run: yarn build --scope @celo/mobile --include-filtered-dependencies
      - name: Install Ruby dependencies
        run: |
          cd packages/mobile
          bundle install --path vendor/bundle
      - name: Install CocoaPods dependencies
        run: |
          cd packages/mobile/ios
          bundle exec pod install || bundle exec pod install --repo-update
      - name: Create E2E Test .env File
        env:
          TEST_FAUCET_SECRET: ${{ secrets.TEST_FAUCET_SECRET }}
          TWILIO_AUTH_TOKEN: ${{ secrets.TWILIO_AUTH_TOKEN }}
          TWILIO_ACCOUNT_SID: ${{ secrets.TWILIO_ACCOUNT_SID }}
          VERIFICATION_PHONE_NUMBER: ${{ secrets.VERIFICATION_PHONE_NUMBER }}
        run : |
          cd packages/mobile/e2e
          echo TEST_FAUCET_SECRET=$TEST_FAUCET_SECRET >> .env
          echo TWILIO_AUTH_TOKEN=$TWILIO_AUTH_TOKEN >> .env
          echo TWILIO_ACCOUNT_SID=$TWILIO_ACCOUNT_SID >> .env
          echo VERIFICATION_PHONE_NUMBER=$VERIFICATION_PHONE_NUMBER >> .env
      - name: Fund E2E accounts
        run : |
          cd packages/mobile/e2e/scripts
          node ./fund-e2e-accounts.ts
      - name: Run E2E tests
        run: |
          cd packages/mobile
          yarn run detox build-framework-cache
          yarn run test:e2e:ios -w 2
      # Publish Test Results
      - name: Publish iOS JUnit Report
        if: always()
        uses: mikepenz/action-junit-report@v2
        with:
          check_name: iOS e2e Test Report 
          report_paths: 'packages/mobile/e2e/test-results/junit.xml'
      # Upload Artifacts
      - name: 'Upload iOS E2E Artifacts'
        if: failure()
        uses: actions/upload-artifact@v2
        with:
          name: ios-e2e-artifact
          path: packages/mobile/e2e/artifacts
      - name: 'Upload iOS E2E HTML Report'
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: ios-e2e-test-report
          path: packages/mobile/e2e/test-results
