name: E2E - iOS
on:
  workflow_call:
    inputs:
      ios-version:
        required: true
        type: string

jobs:
  ios:
    name: iOS (${{ inputs.ios-version  }})
    # We use custom runners to speed up the build
    # Replace this with `macos-14` to run on standard GitHub Actions runners
    # runs-on: macos-14
    runs-on: ios-e2e-group
    steps:
      - uses: actions/checkout@v4
      - run: brew install fastlane cocoapods
      - uses: actions/setup-node@v4
        id: setup-node
        with:
          node-version-file: 'package.json'
          check-latest: true
      - uses: expo/expo-github-action@v8
        with:
          eas-version: latest
          token: ${{ secrets.EXPO_TOKEN }}
      - run: yarn install
      - run: yarn prebuild --clean
      - run: eas build --platform ios --profile e2e --local
