# This workflow is responsible for generating Valora's IPA
# and APK files for Alfajores and Mainnet and upload them
# to TestFlight and Google Play.
name: Release - Production

on:
  workflow_dispatch:

jobs:
  ios:
    uses: ./.github/workflows/release-fastlane-ios.yml
    with:
      branch: ${{ github.ref_name }}
      lanes: '["mainnet"]'
    secrets:
      gcp-service-account-key: ${{ secrets.GCP_MAINNET_RELEASE_AUTOMATION_SERVICE_ACCOUNT_KEY }}

  android:
    uses: ./.github/workflows/release-fastlane-android.yml
    with:
      branch: ${{ github.ref_name }}
      lanes: '["mainnet"]'
    secrets:
      gcp-service-account-key: ${{ secrets.GCP_MAINNET_RELEASE_AUTOMATION_SERVICE_ACCOUNT_KEY }}
